.Main-body{
    margin-top: 2vh;
    margin-left: 100px;
}
p{
    line-height: 1em;
}
.contentProjectData{
    font-size: 18px;
    color: white;
}
.contentProjectDate{
    font-size: 14px;
    color: white;
}