.Main{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.MainTemp{
    display: flex;
    align-items: center;
}
img,span,.units{
    margin-right: 15px;
}
.WeatherIcon{
    width: 150px;
    height: 150px;
}
.BigTemp{
    font-size: 100px;
    color: white;
}
.units{
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 50px;
    align-items: center;
    margin-top: 30px;
}
a{
    text-decoration: none;
    color: white;
    margin:0px;
    font-weight: bold;
}
.flexOrder{
    font-weight: normal;
    order:1
}
a:nth-last-child(1){
    position: relative;
    bottom: 20px;
}

.Message{
    color: white;
    margin-left: 2vw;
}
p{
    font-size: 26px;
    font-weight: bold;
}